@import 'https://fonts.googleapis.com/css?family=Oswald';


html 
{
	background-color: #D45B19;
    background-image: url('../media/hatter.png');    
}

body 
{
    background-color:white;
    width:80%;
    max-width:1000px;
    min-width:500px;
    padding:20px 20px 20px 20px;
    margin:20px auto;
    box-shadow:0 0 30px black;
    opacity: 0.9; 
    border-radius:20px;
    font-family: 'Times New Roman', Times, serif;
}

.kipozicional a
{
    position: absolute;
    left: -9999px;
}

.kipozicional a:focus
{
    position: static;
    background: white;
}

nav#gyengenlato
{
    text-align: right;
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 60%;
    padding: 5px;
    border-radius: 0 10px 0 0;
    background-color:  #a2d6c3;
}


a#normalbetu
{
    display: none;
}

header nav ul li
{
    display: inline-block;
    white-space: nowrap;
}

header nav a
{
    text-decoration: none;
    font-variant: small-caps;
    font-size: 1.4em;
    margin-right: 10px;
}

header nav a:link
{
    color:  black;
}

header nav a:visited
{
    color: #004B30;
}

header nav a:active
{
    font-weight: bold;
    color:green;
}

header nav a#aktiv
{
    color:  #004B30;
    text-decoration: underline;
}

header nav a:hover
{
    text-decoration: underline;
    font-weight: bold;
}

header nav#oldalmenu
{
    padding: 0;
    border: 0;
    margin-top: 0;
    opacity: 0.9;
    text-align: center;
}

nav#oldalmenu li
{
    margin-right: 2%;
    font-size: 0.9em;
}

nav#fomenu li span
{
    background-image: url('../media/ikonok.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 35px;
    margin-right: 5px;
}

nav#fomenu li:nth-child(1) span
{
    background-position: 0 0;
}

nav#fomenu li:nth-child(2) span
{
    background-position: -45px 0;
}

nav#fomenu li:nth-child(3) span
{
    background-position: -90px 0;
}

nav#fomenu li:nth-child(4) span
{
    background-position: -140px 0;
}

nav#fomenu li:nth-child(5) span
{
    background-position: -185px 0;
}



h1
{
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 3px #ccc;	
    color:  #004B30;
}



article p
{
    text-align: justify;
}

article div
{
    display: block;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 20px;
}

div.tablazat
{
    display: block;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 5%;
}

div.linkek
{
    display: block;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 20px;
}

article div figure
{
    margin: 0px;
}

article#eredete img
{
    width:100%; 
    height:auto;
    margin-top: 30px;
}

article#szabalyok img
{
    width:100%; 
    height:auto;
    margin-top: 70px;
}

article#szabalyok figure
{
    margin-top: 50px;
    margin-bottom: 30px;
}

article#teniszpalya img#vonalak
{
    width:100%; 
    height:auto;
    margin-top: 20px;
}

article#teniszpalya img.boritas
{
    width: 32%; 
    height:auto;
}

article#felszerelesek p
{
    margin-bottom: 200px;
}

article#felszerelesek img
{
    width:49%; 
    height:auto;
    margin-top: 20px;
}

article figcaption
{
    font-style: italic;
    font-family: sans-serif;
}

article h2
{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color: white;
    background-color: #004B30;
    height: 40px;
    padding: 10px 0 0 20px;
    opacity: 0.9;
}


article#forrasok ul
{
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

article#forrasok h2
{
    color: #004B30;
    background-color: white;
    margin: 0;
    padding: 0;
}

article#forrasok li
{
    margin: 0;
    padding: 0;
}

article#forrasok a:link
{
    color:#004B30;
}

article#forrasok a:visited
{

    color: rgb(88, 86, 86);
}

a.belsolink
{
    color:#004B30;
}

a.belsolink:visited
{
    color: rgb(88, 86, 86);
}

hr
{
    border: 2px solid #004B30;
    padding: 0;
    margin: 0;
}

nav.ugras a:link
{
    color: #004B30
}

nav.ugras a:visited
{
    color: rgb(88, 86, 86);
}

nav.ugras
{
    margin: 20px;
}

aside
{
    float: right;
    width: 20%;
    font-style: italic;
    font-family: sans-serif;
    background-color: #b3e9d5;
    padding: 10px;
    margin: 0 10px 10px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightgrey;
}

aside p
{
    text-align: right;
    font-weight: bold;
}

q
{
    text-align: justify;
    display: block;
}

table th, td
{
    border: 2px solid #004B30;
}

table 
{
    border: 3px solid #004B30;
    border-collapse:collapse;
}

table.ranglista
{
    margin-left: 20%;
}

table.versenyek
{
    margin-left: 30%;
}

table th
{
    text-align: right;
    color:  #004B30;
}


table tr.fejlec
{
    background-color: #004B30;
    opacity: 0.9;
}

table tr.fejlec th
{
    text-align: center;
    color: white;
}



table tr td.pont
{
    text-align: right;
}

table tr td.rpont
{
    text-align: center;
    font-weight: bold;
}

article#nok img, article#ferfiak img, article#magyarok img
{
    width: 90%; 
    height:auto;
    padding: 0;
    margin: 0;
}

article#nok ul, article#ferfiak ul, article#magyarok ul
{
    margin-top: 80px;
}

article#ferfiak ol, article#magyarok ol
{
    margin: 0 0 100px 20px;
}

article#magyarok ul.fiuk
{
    margin: 0 0 200px 20px;
}

h3
{
    color: #004B30;
    font-size: 1.3em;
    border-bottom: 2px dotted  #004B30;
}

div.article h3
{
    border-bottom: 0px;
}

article#nok ol
{
    margin: 0 0 170px 20px;

}

div nav#link1
{
    margin-left: 160px;
}

div nav#link2
{
    margin-left: 170px;
}

article#grandslam img, article#davis img, article#laver img, article#hopman img
{
    width: 49%; 
    height:auto;
    padding: 0;
    margin: 0;
}

article#laver img
{
    width: 100%; 
    height:auto;
}

article section
{
    margin-left: 10%;
}

fieldset legend
{
    color: #004B30;
    border-color: #004B30;
    font-weight: bold;
}

fieldset input.button
{
    background-color: #004B30;
    color: white;
    font-weight: bold;
}

fieldset 
{
    background-color: #b3e9d5;
    opacity: 0.8;
}

h2#cim
{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color: white;
    background-color: #004B30;
    height: 40px;
    padding: 10px 0 0 20px;
    opacity: 0.9;
}

@media screen and (max-width: 1000px)
{
   
    article#szabalyok img
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    article#szabalyok figure
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    article#felszerelesek p
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    article div
    {
        display: block;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }

    article p
    {
        display: block;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;

    }

    div.tablazat
    {
        display: block;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }

    div.tablazat
    {
        margin-top: 10px;
    }

    div nav#link1
    {
        margin-left: 100px;
    }

    div nav#link2
    {
        margin-left: 100px;
    }

    article#nok ul, article#ferfiak ul, article#magyarok ul
    {
        margin-top: 20px;
    }

    article#ferfiak ol, article#magyarok ol
    {
        margin: 0 0 0 20px;
    }

    article#magyarok ul.fiuk
    {
        margin: 0 0 0 20px;
    }
    article#nok ol
    {
        margin: 0 0 0 20px;

    }

    table.versenyek
    {
        margin-left: 10%;
    }

    article section
    {
        width: 90%;
    }

}

@media screen and (max-width: 700px)
{
    
    article p
    {
        display: block;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }

    article div
    {
        display: block;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }

    div.tablazat
    {
        display: block;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }
}
@media print 
{
    body
    {
        font-family: 'Times New Roman', Times, serif;
        margin: 3cm;
        max-width: unset;
        margin: 0 auto;
    }

    h2 
    {
        color: #004B30;
    }

    nav
    {
        display: none;
    }

    nav#link1
    {
        display: inline-block;
    }

    nav#link2
    {
        display: inline-block;
    }

    a:after
    {
        content: " (" attr(href) ") ";
    }

    article#szabalyok
    {
        page-break-before: always;
    }

    article#teniszpalya
    {
        page-break-before: always;
    }

    article#felszerelesek
    {
        page-break-before: always;
    }

    article#nok
    {
        page-break-before: always;
    }

    /*article#nok h3:last-of-type
    {
        page-break-before: always;
    }*/

    article#ferfiak
    {
        page-break-before: always;
    }

    article#grandslam
    {
        page-break-before: always;
    }

    article#davis
    {
        page-break-before: always;
    }

    table tr.fejlec th
    {
        color:  #004B30;
    }

    footer 
    {
        display: none;
    }

    video
    {
        display: none;
    }

    

}